.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.has-header{
  margin-top: 50px;
}

ion-scroll[scrollX] {
	white-space: nowrap;
	height: 170px;
	overflow-x: auto !important;

	.scroll-item {
	  display: inline-block;
	}
}
