<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deploy your SmartContract</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1> Deploy your SmartContract </h1>
    <form action="/#" method="post">
      <div class="form-group">
        <label for="network">Select the network</label>
        <select class="form-control" id="network" name="network" required>
          <option value= "ropsten" > Ropsten </option>
        </select>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          Deploy
        </button>
      </div>
    </form>
  </body>

  <footer>
    <p>
      Authors : Rudy Cohen | Romain Rouvillois | Bastien Chevallier
      Confidential
    </p>
  </footer>
</html>
