<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Summary of your smart contract</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://designify.me/code-snippets/animated-buttons/css/btns.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Script to print console log (need to install npm i console-log-html)-->
    <script type="application/javascript" src="console-log-html.min.js"></script>

  </head>

  <body>

        <!-- Header -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Summary  of your SmartContract</h2>
        <p>There are all the informations about your deployed Smart Contract :</p>
      </div>
    </div>

    <!-- Main text -->
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

      <div style="text-align: center;">
        This is the informations of your Smart Contract :
      </div>

      <ul id="myULContainer"></ul> <!-- I will hold the log messages -->
      <script type="application/javascript" src="console-log-html.min.js"></script>
      <script>
        ConsoleLogHTML.connect(document.getElementById("myULContainer")); // Redirect log messages
        ConsoleLogHTML.disconnect(); // Stop redirecting
      </script>

      <div style="text-align: center;">
        Check your SmartContract on etherscan : <a href="https://ropsten.etherscan.io/tx/0x96d63b0d926156d0c0258f2746734e1a9c470d5e0e7e2b60c6d3e658ff5144b2" target="_blank"> etherscan</a>
      </div>

    </div>

    <!-- Footer -->
    <footer class="footer">
      <hr  style="margin-top:5px;" />
        <p class="text-center">
          Created with <span class="icon"><i class="fa fa-heart fa-lg"></i></span> by <a href="https://github.com/rscohen/SmartContractsGenerator" target="_blank"> Rudy Cohen | Romain Rouvillois | Bastien Chevallier </a>
        </p>
    </footer>

  </body>

</html>
