<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Summary  of your SmartContract</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1> Summary  of your SmartContract </h1>
    <p>There are all the informations about your deployed Smart Contract :</p>
    <p>Check your SmartContract on etherscan : <a href="https://ropsten.etherscan.io/tx/0x96d63b0d926156d0c0258f2746734e1a9c470d5e0e7e2b60c6d3e658ff5144b2" target="_blank"> etherscan</a></p>
  </body>

  <footer>
    <p>
      Authors : Rudy Cohen | Romain Rouvillois | Bastien Chevallier
      Confidential
    </p>
  </footer>
</html>
