<!DOCTYPE html>
<html>
  <head>
      <title> Define your SmartContract </title>
  </head>

  <body>
  	<form action="/generation" method="post">
  		<div class="text-center">
  		  <label for="name">Token name *</label>
        <input class="form-control" type="text" id="tokenName" name="tokenName" placeholder="Token name" required>
  		</div>

  		<div class="text-center">
  		  <label for="symbol">Token symbol *</label>
        <input class="form-control" type="text" id="tokenSymbol" name="tokenSymbol" placeholder="Token symbol in 3 letters" required>
  		</div>

  		<div class="text-center">
  		  <label for="token_supply">Token supply *</label>
        <input class="form-control" type="number" id="tokenSupply" name="tokenSupply" placeholder="Number of tokens" required>
  		</div>

  		<div class="text-center">
  		  <button type="submit" class="btn btn-primary">
  		    Submit
  		  </button>
  		</div>
  	</form>
  </body>

  <footer>
  	<p>
  		Authors : Rudy Cohen | Romain Rouvillois | Bastien Chevallier
  		Confidential
  	</p>
  </footer>
</html>
