<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SmartContract Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://designify.me/code-snippets/animated-buttons/css/btns.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  </head>
  <body>

    <!-- Header -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Blockchain project for Coinhouse and l'X.</h2>
      </div>
    </div>

    <!-- Main text -->
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

      <div style="text-align: center;">
        Your contract will be deployed soon
      </div>

      <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-2">

        </div>

      </div>

    </div>

    <!-- Footer -->
    <footer class="footer">
      <hr  style="margin-top:50px;" />
        <p class="text-center">
          Created with <span class="icon"><i class="fa fa-heart fa-lg"></i></span> by <a href="https://github.com/rscohen/SmartContractsGenerator" target="_blank"> Rudy Cohen | Romain Rouvillois | Bastien Chevallier </a>
        </p>
    </footer>

  </body>

</html>
